/* Global Styles */

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Black.ttf") format("ttf");
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0px;
}

h1,
h2 {
  font-family: "Roboto Slab", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 150px;
  margin-left: 50px;
}

.logo_image {
  max-width: 100px;
}

nav,
#hamburger-menu {
  display: none;
}

.hamburger-label {
  color: #076871;
  padding: 0px 50px;
  font-size: 2em;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  position: fixed;
  top: 47px;
  background: #fff8ef;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

nav a {
  padding: 10px;
}

nav a:hover {
  text-decoration: underline;
}

header,
footer {
  background-color: #fff8ef;
  color: #076871;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.featured img {
  grid-column: -1/1;
}

.featured h3,
.featured p {
  grid-column: 1;
}

/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header a {
  padding: 10px;
  color: #076871;
}

.cta {
  background-color: #076871;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 10px;
}

/* Home Page */

.welcome {
  background-image: url("../images/home-page-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  min-height: 90vh;
  position: relative;
}

.welcome-content {
  position: absolute;
  text-align: center;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  color: #fff;
  padding: 10px;
  font-size: 1, 5em;
}

.featured,
.all-products {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: auto;
  grid-gap: 20px;
  padding: 20px;
}

.featured h2 {
  grid-column: -1/1;
}

.featured img {
  width: 100%;
}

.example_product {
  width: 100%;
  border: solid;
  border-width: medium;
  border-color: #076871;
}

.about-us {
  background-image: url("../images/about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  min-height: 70vh;
  position: relative;
}

.about-us-content,
.cta-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
}

.about-us-content h2 {
  font-size: 1, 5em;
}

.about-us-content {
  color: #fff;
}

.cta-about-us {
  font-size: 1em;
  align-items: center;
}

footer {
  text-align: center;
  padding: 10px;
}

/* About Page */

.about-content {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.about-resources {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.about-resources h3 {
  grid-column: -1/1;
}

/* Contact Us */

.contact {
  padding-top: 20px;
  max-width: 1000px;
  margin: auto;
}

.contact-statement p {
  text-align: center;
  padding: 10px;
}

input,
textarea {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  height: 100%;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cta-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Products */

.all-products h2 {
  grid-column: -1/1;
}

/* Product Page */

.product-page {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: auto;
  grid-gap: 20px;
  padding: 20px;
  padding-bottom: 50px;
}

.product-page h2 {
  grid-column: -1/1;
}

.cta-product-page {
  display: block;
  width: 100px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

/* Media Queries */

@media (min-width: 600px) {
  .featured,
  .all-products,
  .product-page {
    grid-template-columns: repeat(2, 1fr);
  }

  header {
    justify-content: start;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
    padding: 0px;
  }

  header label {
    display: none;
  }

  .hamburger-label {
    display: none;
  }

  h1 {
    font-size: 2em;
  }
}

@media (min-width: 800px) {
  .featured,
  .all-products {
    grid-template-columns: repeat(3, 1fr);
  }

  .welcome {
    background-position-x: center;
    background-position-y: center;
  }

  h1 {
    font-size: 3em;
  }

  .about-us-content h2 {
    font-size: 1, 5em;
  }

  .cta-about-us {
    padding-top: 2, 5%;
  }

  .about-resources {
    grid-template-columns: repeat(4, 1fr);
  }

  .form-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 4em;
  }

  .welcome-content {
    top: 35%;
  }

  .about-us-content h2 {
    font-size: 2em;
  }
} ;
